.post{
   /* display: flex; */
   align-items: flex-start;
   border-bottom:1px solid var(--twitter-background);
   /* padding-bottom: 10px; */
   
}

.post__header{
   /* display: flex; */
}
.post__icons{
    display: flex;
   padding-left: 85px;
}
.post__option{
    display: flex;
    text-align: center;
    align-items: baseline;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    color: var(--twitter-color);
}
.post__option:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
/* .post__ */
.post__body{
    height: 350px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}
.post__body:hover{
    background-color: var(--twitter-background);
}
.post__body > img{
    border-radius: 20px;
}
.post__footer{
    /* display: flex; */
    justify-content: space-between;
    /* margin-top: 10px; */
}
.post__badge{
    font-size: 14px !important;
    color: var(--twitter-color);
}
.post__headerSpecial{
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
    color: gray;
}
.post__headerText > h3{
    font-size: 15px;
    margin-bottom: 5px;
}
.post__bodyDesription{
    /* margin-bottom: 10px; */
    font-size: 15px;
}
.post__headerText{
    /* padding:20px; */
    display: inline-block;
    width: 100%;
}
/* .post__image{
    width: 100%;
    height: 100%;
    display: block;
} */
.post__bodyDesription > img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.post__menu{
    align-items: flex;
    border-bottom:1px solid var(--twitter-background);
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: darkgray;
    padding: 10px;
 }
 .post__menu:hover{
     background-color: #e8f5fe;
     /* border-radius: 30px; */
     color: var(--twitter-color);
     transition: color 100ms ease-out;
     cursor: pointer;
 }
 .post__menu--active{
     border-bottom:2px solid var(--twitter-color);
     color: var(--twitter-color) !important;
 }