.SidebarOption{
    display: flex;
    /* text-align: center; */
    align-items: baseline;
    cursor: pointer;
    font-size: 20px;
    /* padding: 10px; */
    /* float: left; */
    width: 100%;
}
.SidebarOptionName{
    color: black;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none !important;
}
.SidebarOptionName:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color) !important;
    transition: color 100ms ease-out;   
}

.SidebarOption > .MuiSvgIcon-root{
    padding: 15px;
}
.SidebarOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
.SidebarOption--active{
    color: var(--twitter-color);
}